{% load static %}


        <link rel="stylesheet" href="static/css/style1.css">
            {% block body %}
            
        <img src="static\duck.jpeg" alt="duck">
        <div class='circle'></div>
        <div class="glassy" id="glass">
            <h2 class="gs">CS50</h2>
            <p class="gs">David J. Malan</p>
        </div>
        
        <div class="h">
            <h1>This is CS50</h1>
        </div>

        <div class="profile_img">
            <img src="static\mino.jpg" alt="profile img" class="round-img">
            <h4>ahmed abd almoneim</h4>
        </div>



        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <script>
            const glass = document.getElementById('glass');

            const tl = gsap.timeline({defaults: {ease: "power2.inOut", duration: 1.5}})

            tl.from('img', { x: '-10%', opacity: 0})
              .from('.glassy', {opacity: 0, delay: .5, duration: 1}, "-=1.5")
              .from('.glassy', {x: '-20%', backdropFilter: 'blur(0px)'})
              .from('.gs', { y: -30, opacity: 0, stagger: .2, duration: .5}, "-=.5")
              .from('h1', { y: 20, clipPath: 'inset(0 0 100% 0)'}, "-=.8")
        </script>



{% endblock body %}